@model IEnumerable<CarMastery.Models.Tables.Special>
@{
    ViewBag.Title = "Specials";
}

<h2>Specials</h2>
<h1 id="javascript">Javascript is required to view this page.</h1>
<div style="border-style: solid; padding: 10px; margin-bottom: 30px; overflow: auto;">    
    <form id="addForm">


        <div class="form-group col-md-12">
            <label for="input">Title</label>
            <input type="text" class="form-control" id="inputTitle">
        </div>
        <div class="form-group col-md-12">
            <label for="specialDescription">Description</label>
            <textarea class="form-control" id="inputDescription"></textarea>
        </div>
        <button class="btn-primary" type="submit">Save</button>
    </form>
</div>

@foreach (var special in Model)
{
    <div style="border-style: solid; padding: 10px; margin-bottom: 30px;">
        <table>
            <tr>
                <td width="99%"><h3>@special.SpecialTitle</h3></td>
                <td width="1%"><button class="btn-danger" onclick=deleteId(@special.SpecialId);>Delete</button></td>

            </tr>
        </table>
        <p>@special.SpecialDescription</p>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#javascript').hide();
            $('#addForm').submit(function (e) {
                addSpecial();
                return false;
            });
            

        });


        function addSpecial() {
            $.ajax({
                type: 'POST',
                url: 'https://localhost:44321/api/admin/specials/?specialTitle=' + $('#inputTitle').val() + '&specialDescription=' + $('#inputDescription').val(),
                success: function () {
                    location.reload(true);
                },
                error: function () {
                    alert("Both Title and Description fields are required.")
                }
            });
        }

        function deleteId(id) {
            if (confirm('Are you sure you wish to delete this special?')) {
                $.ajax({
                    type: 'DELETE',
                    url: 'https://localhost:44321/api/admin/specials/?id=' + id,
                    success: function () {
                        location.reload(true);
                    },
                    error: function () {
                        alert("Could not delete special.")
                    }
                });
            }
        }

    </script>
}